<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dmitry Rogozhin</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="../index.html" class="nav__logo">Dmitry Rogozhin</a>
        <ul class="nav__menu">
          <li class="nav__item">
            <a href="addresses.html" class="nav__link">Адреса</a>
          </li>
          <li class="nav__item">
            <a href="hobbies.html" class="nav__link">Увлечения</a>
          </li>
          <li class="nav__item">
            <a href="project.html" class="nav__link">Проекты</a>
          </li>
          <li class="nav__item">
            <button class="nav__btn" id="switch__theme__btn">Светлая тема</button>
          </li>
        </ul>
        <div class="hamb">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <main class="main">
      <div class="container">
        <div class="heading">
          <h1>Мои увлечия</h1>
        </div>
        <div class="content">
          <p>
            Помимо программирования, я увлекаюсь спортом, туризмом и Lego
            Technic.
          </p>
          <p>
            <img src="../static/images/sport1.jpg" alt="Сорт - это жизнь"
            class="img__inline_content" align="left" vspace="10" hspace="10">
            Я люблю спорт за радость от движения, адреналин соревнований,
            многобразие видов. Я занимаюсь греблей, бегом, лыжами, спортивным
            ориентированием. <br><br>У меня есть плотное расписание спортивных
            приключений: водные гонки, рогейны, ночные туристические марафоны.
            <br><br>Мне нравится не только применять силу и выносливость, но и
            нагружать мозг тактическим планированием и ориентированием по карте
            на местности, при помощи только одного компаса, без гаджетов.<br>
            <br>
          </p>
          <img src="../static/images/sport2.jpg" alt="Лодка"
           class="img__content">
           <img src="../static/images/sport3.jpg" alt="Лодка 2"
            class="img__content">
          <p>
            <img src="../static/images/sport4.jpg" alt="Спорт 2"
            class="img__inline_content" align="left" vspace="10" hspace="10">
            <img src="../static/images/sport5.jpg" alt="Спорт 3"
            class="img__inline_content" align="left" vspace="10" hspace="10">
            Вот немного фотографий за прошедший сезон.<br><br><br><br><br><br>
            <br><br><br><br><br><br>
          </p>
          </div>
          <div class="content">
          <p>
            <img src="../static/images/tourism1.jpg" alt="Туризм - это жизнь"
            class="img__inline_content" align="left" vspace="10" hspace="10">
            Обожаю ходить в походы. Выходного дня - километров на 20-30 по
            осеннему или зимнему лесу, на каникулах - в горы, на сплав по
            речкам, летом - обязательно в Карелию. На две недели погрузиться в
            общение с природой и моей семьёй, остаться наедине с собой без
            интернета и гаджетов, обходиться минимумом вещей, наслаждаться
            красотами и дарами природы.<br><br>

            Дейcтвительно, где если не в Карелии можно
            увидеть такой гриб.<br><br>
          </p>
          <img src="../static/images/tourism2.jpg" alt="Туризм"
           class="img__content">
          <img src="../static/images/tourism3.jpg" alt="Туризм 2"
           class="img__content">
          <img src="../static/images/tourism4.jpg" alt="Туризм 3"
           class="img__content">
          <img src="../static/images/tourism5.jpg" alt="Туризм 4"
           class="img__content">
          <p>
           <img src="../static/images/tourism6.jpg" alt="Туризм 5"
           class="img__inline_content" align="left" vspace="10" hspace="10">
           <img src="../static/images/tourism7.jpg" alt="Туризм 6"
           class="img__inline_content" align="left" vspace="10" hspace="10">
           Вот немного фотографий за последний поход.<br><br><br><br><br><br>
           <br><br><br><br><br><br><br>
          </p>
          </div>
          <div class="content">
            <p>
              <img src="../static/images/lego.jpg" alt="Туризм - это жизнь"
              class="img__inline_content" align="left" vspace="10" hspace="10">
              Я очень люблю что либо делать руками, мастерить, делать ремонт,
              копаться в механизмах, в условиях городской квартиры, я отдыхаю от
              школы и программирования в мире Лего Техник. На мой взгляд, это
              одна из наиболее удачных систем для конструирования. Я обожаю
              эксперементировать и собирать собственные, уникальные модели.<br>
              <br>Что вообще такое этот ваш Лего Техник? Это шикарная серия
              Лего, которая содержит в себе не просто кубики лего, а большое
              количество шестерёнок, полноценную пневматику, моторы,
              дистанционное управление. Всё это позволяет создать огромные,
              многофункциональные проекты. В частности, мне нравится
              моторизировать сложные механизмы, создавать многоступенчатые
              раздаточные коропки, для работы нескольких функций модели от
              одного двигателя.
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__title">Контакты</h1>
        <address>
          <p>г. Москва, г. Троицк, ул. Физическая 12</p>
          <a class="footer__btn" href="mailto:darogozhin-04@yandex.ru">
            Отправить электронное письмо</a>
        </address>
      </div>
      <div class="contacs__container">
        <h1 class="contacs__title">И ещё контакты</h1>
        <ul>
          <li>
            <h2 class="contacs__text">Телефон: +7(925)-259-23-90</h2>
          </li>
          <li>
            <h2 class="contacs__text">Почта: darogozhin-04@yandex.ru</h2>
          </li>
          <li>
            <h2 class="contacs__text">И ещё одна почта: rogozhin-04@inbox.ru</h2>
          </li>
          <li>
            <a href="https://github.com/Rogozhin-Dmitry" class="contacs__link">
              <h2 class="contacs__text">Мой гитхаб</h2></a>
          </li>
        </ul>
      </div>
    </footer>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>
